@page "/"
@using ElsaWebApp.Controllers.DataAccess
@using System.Security.Claims
@inject SchooldContext Context;
@inject Blazored.SessionStorage.ISessionStorageService Service;

<AuthorizeView>

    <Authorized>
        @{
            var claim = _state.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email)?.Value;
            <Profile Id="@Context.Students.FirstOrDefault(u => u.Email == claim).UserId"/>
        }
    </Authorized>
    <NotAuthorized>
        <h3>Elsa</h3>
        <strong>Please register to enter the system</strong>
    </NotAuthorized>
    
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private AuthenticationState _state;

    protected override async Task OnInitializedAsync()
    {
        await LogUsername();
        await base.OnInitializedAsync();
    }

    private async Task LogUsername()
    {
        _state = await authenticationStateTask;
    }
    
    
}