@using ElsaWebApp.Controllers.IdentityManagement
@inject AuthenticationStateProvider Provider;

<AuthorizeView Roles="administrator, professor">
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
            <Button @onclick="Deauth" class="nav-link btn btn-link">Log out</Button>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private void Deauth()
    {
        ((CustomAuthStateProvider)Provider).Deauthorize();
        
    }
}
